*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color: rgb(0, 250, 217);
}
.p{
	background-image: url(bg3.png);
	
	
}
.card{
	background-image: url(bg3.png);
	width: 400px;
	height: 400px;
	margin-left: 50px;
	margin-top: 50px;
border-radius: 15px;
	position: absolute;
	
	
}

.m{
	width: 100px;
	height: 100px;
	border-radius: 60px;
	
	margin-left: 150px;
	margin-top: 50px;
	border: 3px solid white;
	
	

}
.t{
	margin-left: 117px;
	font-family: sans-serif;
color: aliceblue;
}


.ba{
	font-size: 40px;
	color: blue; 
	margin-top: 100px;
	
	margin-left: 100px;
	
	
	
	

	
}
	
